@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap');

/* Base Styles */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: rgb(255, 255, 255);
  color: #11274b;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  max-width: 1300px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #173169;
}

.logo h1 {
  font-size: 32px;     
  font-weight: 900;      
}

.fa-film {
  font-size: 40px;
}

/* Nav Links */
.navigation-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.navigation-links a {
  position: relative;
  text-decoration: none;
  font-size: 24px;       
  color: #1e293b;
  font-weight: 700;       
  transition: color 0.3s ease;
}

.navigation-links a:hover {
  color: #173169;
}

.navigation-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #173169;
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}

.navigation-links a:hover::after {
  width: 100%;
}

.btn_contact {
    cursor: pointer;
    padding: 12px 40px;
    align-items: center;
    border-radius: 50px;
    background-color: #173169;
    color: #fff !important;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 300ms ease-in-out; 
}

.btn_contact:hover {
    background-color: #122652;
    transition: all 300ms ease-in-out;
}

.btn_contact::after {
    display: none;
}


/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.hero-content {
  max-width: 780px;
  margin: 0 auto;
}

.hero-content h2 {
  font-size: 64px;         
  font-weight: 900;
  line-height: 1.15;
  color: #173169;
  margin-bottom: 30px;
}

.hero-content p {
  color: #242424;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.search-bar input {
  border-radius: 20px;
  border: 4px solid #ccc;
    padding: 15px 20px;
    font-size: 1.2rem;
    flex: 1;
    outline: none;
    transition: border-color 0.3s ease;
    margin-right: 12px;

}

.search-bar input:focus {
  border-color: #173169;
  border-radius: 20px;
}

.search-bar button {
  background-color: #173169;
  color: white;
    border: none;
    padding: 15px 25px;
    font-size: 24px;
    border-radius: 20px;
    cursor: pointer;
}

.search-bar button:hover {
  background-color: #122652;
  transition: all 300ms ease-in-out;
}

.hero__image-wrapper {
  padding: 50px;
} 

.hero__img {
  width: 100%;
  max-width: 500px;
  height: auto;
  color:#173169 ;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .navigation-links {
    gap: 25px;
  }

  .logo h1 {
    font-size: 1.8rem;
  }

  .hero {
    padding: 70px 20px;
  }

  .hero-content h2 {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 20px;
  }
}
