* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: rgb(255, 255, 255);
  color: #11274b;
}

.header__movies {
  padding: 40px;
  text-align: center;
  margin-bottom: 56px;
}

.header__para {
  font-size: 24px;
  margin-bottom: 20px;
  color: #242424;
}

.header__browse {
  font-size: 32px;
  margin-bottom: 10px;
  color: #242424;
}

.movie__poster {
  width: 200px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.logo h1 {
  font-size: 80px;
}

.fa-film {
  font-size: 60px;
  margin-bottom: 10px;
}

/* 

SEARCH BAR

*/

.search-bar-movies {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}

.search-bar-movies input {
  width: 25%;
  padding: 12px 20px;
  font-size: 24px;
  border: 3px solid #11274b;
  border-radius: 50px;
  outline: none;
  margin-right: 20px;
  transition: border-color 0.3s ease;
}

.search-bar-movies input:focus {
  border-color: #173169;
  background-color: #0d1c33;
  color: white;
  transition: all 300ms ease-in-out;
}

.search-bar-movies button {
  padding: 20px 30px;
  font-size: 24px;
  border-radius: 50px;
  border: 3px solid #0d1c33;
  background-color: #ffffff;
  color: 0d1c33;
  cursor: pointer;
}

.search-bar-movies button:hover {
  background-color: #0d1c33;
  transition: all 300ms ease-in-out;
  color: white;
}

/* 

MOVIES 

*/


.movies__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  margin: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.movie__poster {
  width: 250px;
  display: block;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}


.movie__details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
}

.movie__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie__para,
.movie__rating,
.movie__genre,
.movie__runtime {
  font-size: 18px;
  margin-bottom: 6px;
}


.movie:hover {
  transform: scale(1.05);
}


.movie:hover .movie__poster {
  filter: brightness(40%); 
}


.movie:hover .movie__details {
  opacity: 1;
}
